# Java / Spring
build/
.gradle/
out/
*.class
*.jar
*.war
*.zip
gradle-*/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Env
.env

# Node
node_modules/
dist/
.next/
*.sst

ani_Back/bin/

.next/
node_modules/
.env